click==8.1.7
cloup==3.0.5
decorator==5.1.1
gitdb==4.0.11
GitPython==3.1.41
glcontext==2.5.0
isosurfaces==0.1.2
manim==0.18.1
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
moderngl==5.10.0
moderngl-window==2.4.6
multipledispatch==1.0.0
networkx==3.3
numpy==1.26.4
pillow==10.3.0
pycairo==1.26.0
pydub==0.25.1
pyglet==2.0.15
Pygments==2.18.0
pyrr==0.10.3
rich==13.7.1
scipy==1.13.1
screeninfo==0.8.1
setuptools==69.0.3
skia-pathops==0.8.0.post1
smmap==5.0.1
srt==3.5.3
svgelements==1.9.6
tqdm==4.66.4
typing_extensions==4.12.2
watchdog==4.0.1
wheel==0.43.0
